<div class="container" id="home-container">
    <div class="jumbotron text-center">
    <h1 class="display-4">User-Task!</h1></br>

    <h1 class="display-7">This is a simple task web application whether the user can create tasks</h1></br></br></br></br></br></br>
    <%= link_to "SIGN UP", signup_path, class: "btn btn-success btn-lg" %>
    </div>
</div>


