<div class="jumbotron text-center">
  <h1 class="display-6">Hello User</h1></br>
  <h1 class="display-7">Welcome to my First Web Application</h1></br>
    <%= link_to "CLICK HERE TO SIGN UP", signup_path, class: "btn btn-success btn-lg" %>
</div>